Source: cubicweb-drh
Section: web
Priority: optional
Maintainer: Logilab Packaging Team <contact@logilab.fr>
Uploaders: Sylvain Thenault <sylvain.thenault@logilab.fr>,
  Nicolas Chauvat <nicolas.chauvat@logilab.fr>
Build-Depends: debhelper (>= 5.0.37.1), python (>=2.4), python-dev (>=2.4)
Standards-Version: 3.8.0
Homepage: http://www.cubicweb.org/project/cubicweb-drh

Package: cubicweb-drh
Architecture: all
Depends: cubicweb-common (>= 3.16.0),
  cubicweb-file, cubicweb-email, cubicweb-person, cubicweb-addressbook, cubicweb-tag,
  cubicweb-folder, cubicweb-comment, cubicweb-task, cubicweb-event
Description: drh component for the CubicWeb framework
 This CubicWeb component provides an human resources management application
 usable to manage a recruitment process.
 .
 CubicWeb is a semantic web application framework, see http://www.cubicweb.org
